/* Body styles */
body {
    font-family: "Century Gothic", sans-serif;
    background-color: #222; 
    color: #fff; /* White Text */
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #335a4b; /* dark green for Container */
    border-radius: 10px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Shadow */
}

/* Heading styles */
h1 {
    color: #b88e1a; /* Gold */
}

/* Paragraph styles */
p {
    color: #ccc; /* light gray Text */
    line-height: 1.6;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b88e1a; /* Darkgreen Button */
    color: #fff; /* White Text */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hover-Effect */
}

/* Button hover styles */
.button:hover {
    background-color: #795c0d; /* darker green Hover */
}