/* Body styles */
body {
    font-family: "Century Gothic", sans-serif;
    background-color: #222; 
    color: #fff; /* White Text */
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #335a4b; /* dark green for Container */
    border-radius: 10px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Shadow */
}

/* Heading styles */
h1 {
    color: #b88e1a; /* Gold */
    -webkit-text-stroke: 1px #363434; /* Für WebKit-basierte Browser */
    text-stroke: 1px #363434; /* Standard */
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

/* Paragraph styles */
p {
    color: #ccc; /* light gray Text */
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b88e1a; /* Darkgreen Button */
    color: #d8d0d0; /* White Text */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border: 2px solid #504e4e;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hover-Effect */
    -webkit-text-stroke: 1px #504e4e; /* Für WebKit-basierte Browser */
    text-stroke: 1px #504e4e; /* Standard */
}

/* Button hover styles */
.button:hover {
    background-color: #795c0d; /* darker green Hover */
}